@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

$white: oklch(1 0 0);
$grey: oklch(0.5965 0 0);
$black: oklch(0 0 0);
$light-grey: oklch(0.924 0.0035 39.48 / 50.2%);
$Inter: "Inter", sans-serif;

// Responsive Design
$tablet: 768px;
$desktop: 1024px;
$desktop-1440: 1440px;

// spacing
$space-3xs: clamp(0.25rem, 0.228rem + 0.0939vw, 0.3125rem);
$space-2xs: clamp(0.4375rem, 0.3715rem + 0.2817vw, 0.625rem);
$space-xs: clamp(0.6875rem, 0.5995rem + 0.3756vw, 0.9375rem);
$space-s: clamp(0.875rem, 0.743rem + 0.5634vw, 1.25rem);
$space-m: clamp(1.3125rem, 1.1144rem + 0.8451vw, 1.875rem);
$space-l: clamp(1.75rem, 1.4859rem + 1.1268vw, 2.5rem);
$space-xl: clamp(2.625rem, 2.2289rem + 1.6901vw, 3.75rem);
$space-2xl: clamp(3.5rem, 2.9718rem + 2.2535vw, 5rem);
$space-3xl: clamp(5.25rem, 4.4577rem + 3.3803vw, 7.5rem);

/* One-up pairs */
$space-3xs-2xs: clamp(0.25rem, 0.118rem + 0.5634vw, 0.625rem);
$space-2xs-xs: clamp(0.4375rem, 0.2614rem + 0.7512vw, 0.9375rem);
$space-xs-s: clamp(0.6875rem, 0.4894rem + 0.8451vw, 1.25rem);
$space-s-m: clamp(0.875rem, 0.5229rem + 1.5023vw, 1.875rem);
$space-m-l: clamp(1.3125rem, 0.8944rem + 1.784vw, 2.5rem);
$space-l-xl: clamp(1.75rem, 1.0458rem + 3.0047vw, 3.75rem);
$space-xl-2xl: clamp(2.625rem, 1.7887rem + 3.5681vw, 5rem);
$space-2xl-3xl: clamp(3.5rem, 2.0915rem + 6.0094vw, 7.5rem);

/* Custom pairs */
$space-s-l: clamp(0.875rem, 0.3028rem + 2.4413vw, 2.5rem);

// typing fonts 14-20px
$step--2: clamp(0.6076rem, 0.5399rem + 0.289vw, 0.8rem);
$step--1: clamp(0.7292rem, 0.6338rem + 0.4069vw, 1rem);
$step-0: clamp(0.875rem, 0.743rem + 0.5634vw, 1.25rem);
$step-1: clamp(1.05rem, 0.8695rem + 0.77vw, 1.5625rem);
$step-2: clamp(1.26rem, 1.0159rem + 1.0413vw, 1.9531rem);
$step-3: clamp(1.512rem, 1.1847rem + 1.3963vw, 2.4414rem);
$step-4: clamp(1.8144rem, 1.3787rem + 1.8589vw, 3.0518rem);
$step-5: clamp(2.1773rem, 1.6007rem + 2.46vw, 3.8147rem);

$navbar-screen: 450px;

@mixin flexBasic($content, $align) {
  display: flex;
  justify-content: $content;
  align-items: $align;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: $Inter;
}

main {
  padding: $space-xs;
}

// Navbar
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align: center;
  a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    &:hover {
      color: #f1f1f1;
    }
  }

  .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
}

// header
header {
  margin-top: 3rem;
  .title {
    font-size: $step-4;
    padding-inline: $space-l-xl;
    text-align: center;
    font-weight: 600;
    padding-bottom: 1.4rem;
  }
  .tagg {
    @include flexBasic(space-evenly, none);
    // display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(20px, 600px));
    p {
      background-color: $light-grey;
      padding: 2px;
      padding-inline: 5px;
      border-radius: 15px;
    }
  }
}

// Gallery
.gallery {
  margin-top: 5rem;
  img {
    width: 100%;
    max-width: 100%;
    border-radius: 5px;
  }
}

// Get in touch
.getintouch {
  text-align: center;
  margin-block: 2rem;
  font-size: $step-2;
  p {
    font-weight: 500;
  }
  .get {
    color: $grey;
  }
}

// footer
.footer-content {
  .trademark {
    text-align: center;
    margin-bottom: 0.54rem;
  }
  .social-media {
    @include flexBasic(space-evenly, none);
  }
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

@media (min-width: $tablet) and (orientation: landscape) {
  nav {
    .sidenav {
      position: static; // hilangkan overlay
      width: auto; // tidak 0 lagi
      height: auto;
      padding-top: 0;
      background-color: transparent;
      overflow: visible;
      transition: none; // MATIKAN efek animasi
      text-align: center;
      @include flexBasic(center, none);
      .closebtn {
        display: none; // tombol close tidak perlu
      }
      .link-nav {
        background-color: $light-grey;
        padding: $space-2xs;
        border-radius: 15px;
        a {
          background-color: $white;
          border-radius: 15px;
          padding-inline: 12rem;
          display: inline-block; // menu jadi normal
          font-size: $step-0;
          padding: 0 16px;
          color: inherit;
        }
      }
    }

    .open {
      display: none;
    }
  }

  header {
    .title {
      padding-inline: 5rem;
      font-size: $step-5;
    }
    .tagg {
      @include flexBasic(center, none);
      column-gap: 20px;
    }
  }

  // Gallery
  .gallery {
    display: grid;
    grid-template-columns: repeat(2, minmax(280px, 1fr));
    gap: 12px;
    padding-inline: 1rem;
    img {
      // width: 100%;
      min-height: 100%;
    }
  }

  .getintouch {
    margin-top: 8rem;
    font-size: $step-3;
  }

  .footer-content {
    margin-top: 5rem;
    @include flexBasic(space-between, none);
    .trademark {
      margin-bottom: 0;
    }
    .social-media {
      @include flexBasic(none, flex-end);
      column-gap: 12px;
    }
  }
}

@media (min-width: $desktop) and (orientation: landscape) {
  header {
    .title {
      padding-inline: 15rem;
    }
  }
}
