---

---

<footer>
  <div class="footer-content">
    <div class="trademark">
      <img src="" alt="" />
      <p>&copy; Oli Harris 2023</p>
    </div>
    <div class="social-media">
      <p>Twitter</p>
      <p>Linkedin</p>
      <p>Mail</p>
    </div>
  </div>
</footer>
