---

---

<header>
  <p class="title">A brand and product designer working with clients globally</p>

  <div class="tagg">
    <p>Expertise</p>
    <p>Branding</p>
    <p>Product</p>
    <p>Design System</p>
  </div>
</header>
